<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to @company, class: 'btn' do %>
      <%= icon 'icon-info-sign' %>
      <%= @company.name %> Details
    <% end %>
    <%= link_to companies_path, class: 'btn' do %>
      <%= icon 'icon-th-list' %>
      All Companies
    <% end %>
  </div><!--// .btn-group -->
  
  <h1>Editing company</h1>
</div><!--// .page-header -->

<%= render 'form' %>