<%= page_header do %>
  <div class="btn-group pull-right">
    <%= link_to edit_company_path(@company), class: 'btn btn-warning' do %>
      <%= icon_white 'icon-edit' %>
      Edit
    <% end %>
    <%= link_to companies_path, class: 'btn' do %>
      <%= icon 'icon-th-list' %>
      All Companies
    <% end %>
  </div><!--// .btn-group -->
  
  <h1><%= @company.name %> <small><%= @company.ticker.upcase %></small></h1>
<% end %>

<%= @company.cash_flow_statements %>