<%= page_header do %>
  <%= render 'companies/company_nav' %>
  
  <h1><%= action_name.to_s.titleize %> Financial Reports <small><%= @company.name %></small></h1>
<% end %>

<ul class="nav nav-tabs">
  <% statements_array.each do |statement| %>
    <%= statement_tab(statement) %>
  <% end %>
</ul>

<div class="tab-content">
  <% statements_array.each do |statement| %>
    <%= render 'tab_pane', dom_id: statement.to_s, colspan: @financial_reports[statement][:colspan] %>
  <% end %>
</div><!--// .tab-content -->

<%= javascript_tag do %>
  var statements = <%= raw @financial_reports.to_json %>;
  
  $(document).ready(function() {
    $('.nav.nav-tabs a:first').tab('show');
    
    <% statements_array.each do |statement| %>
      ko.applyBindings(new FinancialReportTable(statements.<%= statement.to_s %>), $('#<%= statement.to_s %>')[0]);
    <% end %>
  });
<% end %>