<%= page_header do %>
  <div class="btn-group pull-right">
    <%= link_to @company, class: 'btn btn-info' do %>
      <%= icon_white 'icon-list-alt' %>
      Company Details
    <% end %>
    <%= other_statements_link(action_name) %>
  </div><!--// .btn-group pull-right -->
  <h1><%= action_name.to_s.titleize %> Financial Reports <small><%= @company.name %></small></h1>
<% end %>

<ul class="nav nav-tabs">
  <% statements_array.each do |statement| %>
    <%= statement_tab(statement) %>
  <% end %>
</ul>

<div class="tab-content">
  <% statements_array.each do |statement| %>
    <%= render 'tab_pane', dom_id: statement.to_s %>
  <% end %>
</div><!--// .tab-content -->

<%= javascript_tag do %>
  var statements = <%= raw @financial_reports.formatted_hash.to_json %>;
  
  $(document).ready(function() {
    $('.nav.nav-tabs a:first').tab('show');
    
    <% statements_array.each do |statement| %>
      ko.applyBindings(new FinancialReportTable(statements.<%= statement.to_s %>), $('#<%= statement.to_s %>')[0]);
    <% end %>
  });
<% end %>